<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>bun testing</title>
  <meta name="description" content="this is my website">
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="stylesheet" href="../public/css/normalize.css">
  <link rel="stylesheet" href="../public/css/fontawesome.min.css">
</head>
<body>
    <header>
      <nav class="header" id="header">
        <div class="container">
          <a href="/" class="logo">Bader Idris</a>
          <ul class="main-nav">
            <li><a href="#landing" class="active">home</a></li>
            <li><a href="/video">video services</a></li>
            <li><a href="#testimonials">testimonials</a></li>
            <li><a href="#portfolio">portfolio</a></li>
            <li><a href="#blog">blog</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#contact">contact</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section>
        <div class="register">
          <a href="/register">register</a>
        </div>
        <div class="query">
          <a href="/query">query</a>
        </div>
      </section>
    </main>
  <script src="../public/js/main.js"></script>
</body>
</html>